# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ignore roshell binary
roshell

# Ignore python compiled files
*.pyc

# ROS build outputs
ros_ws/build/
ros_ws/devel/

build/
devel/

# VS Code
.vscode/

# Remove DS_Store
*.DS_Store

# Ignore .catkin_workspace
ros_ws/.catkin_workspace
.catkin_workspace

# Ignore pcd files
*.pcd